<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>유황국</key>
	<string>바보</string>
	<key>신호중</key>
	<string>섹시보이</string>
	<key>고세진</key>
	<string>야사시세진쨩</string>
</dict>
</plist>
